*:root {
  --box-size: 40px;
  --box-height: 14rem;
  --box-color: red;
}

@screen lt-md {
  bg-bubble {
    background: url("/illustrations/il_bubble.png") no-repeat left/70%;
  }
}

.animate-marquee {
  animation: linear 30s infinite marquee;
}

.animate-inverse-marquee {
  animation: linear 30s infinite inverse-marquee;
}

.animate-none {
  animation: none;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes inverse-marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

svg {
  image-rendering: auto;
}

.bg-spiral-and-block {
  background-image: url("/illustrations/il_block_bg.png"),
    url("/illustrations/il_spiral_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right, top right;
  background-size: 48% 40%, 100% 80%;
}

@screen lt-lg {
  .bg-spiral-and-block {
    background-image: url("/illustrations/il_spiral_bg.png"),
      url("/illustrations/il_block_bg.png");
    background-repeat: no-repeat;
    background-position: top right, bottom right;
    background-size: 100% 60%, 70% 45%;
  }
}

@screen lt-md {
  .bg-bubble-transparent:last-child {
    background: url("/illustrations/il_transparent_bubble_invert.png") no-repeat;
    background-position: top left;
    background-size: 100% 100%;
  }

  .bg-bubble-transparent:first-child {
    background: url("/illustrations/il_transparent_bubble.png") no-repeat;
    background-position: top right;
    background-size: 100% 80%;
  }
}

.bg-bubble {
  background: url("/illustrations/il_bubble.png") no-repeat;
  background-position: top left;
  background-size: 60% 100%;
}

@screen md {
  .bg-bubble {
    background: url("/illustrations/il_bubble.png") no-repeat;
    background-position: top left;
    background-size: 72% 100%;
  }
}

@screen xl {
  .bg-bubble {
    background: url("/illustrations/il_bubble.png") no-repeat;
    background-position: top left;
    background-size: 64% 100%;
  }
}

@screen 2xl {
  .bg-bubble {
    background: url("/illustrations/il_bubble.png") no-repeat;
    background-position: top left;
    background-size: 50% 100%;
  }
}
@screen 3xl {
  .bg-bubble {
    background: url("/illustrations/il_bubble.png") no-repeat;
    background-position: top left;
    background-size: 45% 100%;
  }
}

.bg-gradient {
  background: url("/illustrations/il_gradient.png") no-repeat,
    url(/illustrations/il_galaxy.png) no-repeat;
  background-size: 100% 100%, 50% 100%;
  background-position: left, right;
}

@screen md {
  .bg-gradient {
    background: url("/illustrations/il_gradient.png") no-repeat,
      url(/illustrations/il_galaxy.png) no-repeat;
    background-size: 100% 100%, 20% 100%;
    background-position: left, right;
  }
}

.bg-gradient-2 {
  background: url("/illustrations/il_gradient_2.png") no-repeat;
  background-size: cover;
}

.bg-belt {
  background: url("/illustrations/il_belt.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@screen lt-md {
  .bg-belt {
    background: url("/illustrations/il_belt.png") no-repeat;
    background-position: center;
    background-size: 100% 60%;
  }
}

.bg-bubble-mirror {
  background: url("/illustrations/il_bubble_2.png") no-repeat,
    url("/illustrations/il_bubble_3.png") no-repeat;
  background-position: bottom left, bottom right;
  background-size: 40% 85%, 45% 72%;
}

.bg-diamond {
  background: url("/illustrations/il_diamond.png") no-repeat;
  background-position: left;
  background-size: 100% 100%;
}

@screen xl {
  .bg-diamond {
    background: url("/illustrations/il_diamond.png") no-repeat;
    background-position: left;
    background-size: 100% 100%;
  }
}

.bg-coins {
  background: url("/illustrations/il_coins.png") no-repeat;
  background-position: right bottom;
  background-size: 60% 40%;
}

@screen md {
  .bg-coins {
    background: url("/illustrations/il_coins.png") no-repeat;
    background-position: right top;
    background-size: 75% 100%;
  }
  
}
@screen lg {
  .bg-coins {
    background: url("/illustrations/il_coins.png") no-repeat;
    background-position: right bottom;
    background-size: 60% 100%;
  }
  
}

@screen 4xl {
  .bg-coins {
    background: url("/illustrations/il_coins.png") no-repeat;
    background-position: right bottom;
    background-size: 40% 100%;
  }
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

* {
  scrollbar-width: 0;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-appearance: none;
}

.border-gradient {
  border-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.25) 100%
    )
    1;
  border-image-slice: 1 0 0 1;
}
